%h1
  = submit
  шаблон
.content
  = form_for @direction do |form|
    %table.card
      %tr
        %th Полное название:
        %td= form.text_field :name, :size => 100
      %tr
        %th Сокращенное название:
        %td= form.text_field :short_name, :size => 50
      %tr
        %th Уровень:
        %td= select :levels, "level_id", options_for_select(Level.all.collect {|l| [l.name, l.id]}, @direction.level_id)
      %tr
        %th Видимость:
        %td= form.check_box :visible
    %br
  
    = submit_tag submit
