# coding: utf-8
%h2 Выберите категорию отделений

.content
  = form_for :report, :url => {:controller => 'factors', :action => "edit_weights" }, :html => {:method => "get"} do 
    %table
      %tr
        %th= "Категория:"
        %td= select :category, "category_id", CategoryOfDivision.all.collect {|c| [ c.name, c.id ] }
        %td= hidden_field_tag :block_id, @block.id
            
    = submit_tag "Продолжить"
