# coding: utf-8
%h1 Шаблоны (направления) оценки эффективности 

.content
  %table.data
    %tr
      %th Название
      %th Уровень
      %th Доступен
      %th
    - for d in @directions
      %tr
        %td= link_to d.name, :action => 'show_eigen_blocks', :id => d
        %td= d.level.name
        %td= (d.visible ? "Да" : "Нет")
        %td= link_to "Изменить", :action => :edit, :id => d.id
%br	
.actions
  = link_to 'Добавить', :action => 'new'