# coding: utf-8
%h2 Статьи показателя "#{@factor.factor_description.short_name}" 
%h3 Блок: #{link_to @factor.block.block_description.short_name, :action => "show_eigen_factors", :id => @factor.block_id} 
%h3 Шаблон: #{link_to @factor.block.direction.name, :action => "show_eigen_blocks", :id => @factor.block.direction.id}

.content
  %table.data
    %tr
      %th Обозначение
      %th Формирует
      %th Тип отбора данных
      %th Параметры
    - for a in @factor.articles
      %tr
        %td= a.name
        %td= a.action.name
        %td= a.select_type.name
        %td= a.source_name
%br	
.actions
  = link_to 'Добавить', :action => 'new_article', :controller => 'articles', :factor_id => @factor 