# coding: utf-8
%h2 Показатели блока "#{@block.block_description.short_name}" 
%h3 Шаблон: #{link_to @block.direction.short_name, :action => "show_eigen_blocks", :id => @block.direction.id}
- if @block.categorization
  %h4 Примечание: веса показателей зависят от категории отделения
.content
  %table.data
    %tr
      %th Название
    - for f in @factors
      %tr
        %td= link_to f.factor_description.short_name, :action => :show_articles, :id => f
        - if f.factor_weights.maximum("weight") == 0
          %td= link_to 'Удалить', :controller => 'factors', :action => 'destroy_factor', :id => f  
%br	
.actions
  
  = link_to 'Добавить показатель', :controller => 'factors', :action => 'new_factor', :block_id => @block  
  %br
  - if @factors.size>0
    - if @block.categorization
      = link_to 'Изменить веса', :controller => 'directions', :action => 'category_select', :id => @block  
    - else
      = link_to 'Изменить веса', :controller => 'factors', :action => 'edit_weights', :block_id => @block