%h2 Добавить значение для показателя "#{@factor.factor_description.short_name}"
%h3 Блок: #{@factor.block.block_description.short_name}
%h3 Шаблон: #{@factor.block.direction.short_name}
.content
  - form_for @value, :url => {:action => :save_value} do |form|
    %table.card
      %tr
        %th Период:
        %td= form.select :period_id, Period.all.collect {|p| [ p.description, p.id ] }
      %tr
        %th План/Факт:
        %td= form.select :type_id, Action.all.collect {|a| [ a.name, a.id ] }
      %tr  
      - case @factor.block.direction.level_id 
        - when 2
          %th= "Дирекция:"
          %td= form.select :division_id, BranchOfBank.find_by_sql(" select p.id id, p.name name, d.name parent from fin.division d join FIN.division p on d.id = p.parent_id where p.code < '900' and d.code = '000' order by p.code").collect {|d| [ d.name, d.id ] }
        - when 3
          %th Отделение:
          %td= form.select :division_id, BranchOfBank.find_by_sql(" select p.id id, p.name name, d.name parent from fin.division d join FIN.division p on d.id = p.parent_id where p.code < '900' and d.code >= '000' order by d.code, p.code").collect {|d| [ d.parent+' - '+d.name, d.id ] }
        - when 1
          %td= hidden_field_tag :division_id, 999
      %tr
        %th Значение:
        %td= form.text_field :factor_value, :size => 10
        %td= hidden_field_tag :factor_id, @factor.id
    %br
  
    = submit_tag "Сохранить"
