# coding: utf-8
- factors = []
%h2 Новый показатель
%h3 Блок: #{@block.block_description.short_name}
%h3 Шаблон: #{@block.direction.name}
.content
  = form_for :d, :url => {:action => 'save_factor', :block_id => @block} do |form|
    %table.data
      %tr
        %th Название
        %th План-дескриптор
        %th Факт-дескриптор
      - for f in @block.factors
        %tr
          %td= f.factor_description.short_name
          %td= f.plan_descriptor
          %td= f.fact_descriptor
      %tr
        %td= select :new_factor, "factor_description_id", FactorDescription.order(:short_name).collect {|fd| [ fd.short_name, fd.id ] }
        %td= text_field :new_factor, :plan_descriptor, :size => 30
        %td= text_field :new_factor, :fact_descriptor, :size => 30
      %br	
    = submit_tag "Сохранить"
        