# coding: utf-8
%h2 Новый показатель
%h3 Блок: #{@block.block_description.short_name}
%h3 Шаблон: #{@block.direction.name} 
%h4 Примечание: сумма весов всех показателей должна равняться 1
.content
  - form_for 'factors[]', :d, :url => {:action => 'save_weights', :block_id => @block} do |form|
    %table.data
      %tr
        %th Название
        %th Вес
        %th Описание
      - for f in @block.factors
        %tr
          %td= f.factor_description.short_name
          - @w = f.factor_weights.last
          %td= text_field :w, :weight, :index => f.id, :size => 5
          %td= @w.description
      %tr
        %td= select :new_factor, "factor_description_id", FactorDescription.order(:short_name).collect {|fd| [ fd.short_name, fd.id ] }
        %td= text_field :new_factor, :weight, :size => 5
        %td= text_field :new_factor, :description, :size => 50    
      %br	
    = submit_tag "Сохранить"
        