%h1 Audit records list
.content
  %table.data
    - for audit in @audits
      %tr
        %td
          = link_to h(audit.user.login.capitalize), user_path(audit.user)
          = audit_action_in_past audit.action
          = audit.auditable_type.downcase
          with id 
          = audit.auditable_id
          = audit.created_at
          -#%span.audit_time
            -#= distance_of_time_in_words_to_now(audit.created_at)
            -#ago.
          = link_to 'Details', audit_path(audit)
