# coding: utf-8
-@title = "Вход в систему"
%h2 Вход в систему
.content 
  = form_for @user_session, :url => user_session_path do |f|
    %table
      %tr
        %th= "Логин:"
        %td= f.text_field :login 
      %tr
        %th= "Пароль:"
        %td= f.password_field :password
    = f.submit "Войти"
