# coding: utf-8
%h2 Задайте параметры для расчета KPI

.content
  - form_for :report, :url => { :action => "calc_kpi" }, :html => {:method => "get"} do 
    %table
      %tr
        %th= "Период:"
        %td= select :report_params, "period_id", Period.all.collect {|p| [ p.description, p.id ] }
      %tr
        %th= "Шаблон:"
        %td= select :report_params, "direction_id", Direction.order(:name).collect {|o| [ o.name, o.id ] }
            
    = submit_tag "Рассчитать"
