# coding: utf-8
-@title = "Параметры просмотра" 
%h2 Задайте параметры для просмотра KPI

.content
  = form_for :report, :url => { :action => "get_report_params_2" }, :html => {:method => "get"} do 
    %table
      %tr
        %th= "Период:"
        %td= select :report_params, "period_id", Period.all.collect {|p| [ p.description, p.id ] }
      %tr
        %th= "Шаблон:"
        %td= select :report_params, "direction_id", Direction.where("visible != false").order(:name).collect {|o| [ o.name, o.id ] }
            
    = submit_tag "Продолжить"
