# coding: utf-8
-@title = "Эффективность направления по отделениям"
%h2 Распределение итогового KPI
%h3 Период: #{@values[0].period.description} 
%h3 Шаблон: #{@values[0].direction.short_name}

%style{:type => "text/css", :media => "screen"}
:javascript
  $(function(){
    new Highcharts.Chart({
      chart: {
        renderTo: "kpi_chart",
        zoomType: 'xy'
      },
      title: {
        text: "Эффективность отделений"
      },
      xAxis: [{
        categories: #{
          cat = []
          for v in @values do
            if v.division 
              cat << v.division.code
            end    
          end
          cat} 
      }],
      yAxis: [{
        title: {
          text: "KPI",
          style: {
            color: '#AA4643'
          }
        },
        labels: {
          formatter: function() {
            return this.value;
          },
          style: {
            color: '#AA4643'
          }
        }
      }],
      tooltip: {
        formatter: function(){
          return Highcharts.numberFormat(this.y, 2);
        }
      },
      series: [{
        type: 'column',
        name: "KPI",
        color: '#AA4643',
        yAxis: 0,
        data: #{ 
          val = []
          for vv in @values do 
            val << vv.kpi 
          end  
          val
        }
      }]
    });
  });

%div{'id' => "kpi_chart", 'style'=> "width:960px; height:300px;"}
     
.content
  %table.data
    %tr
      %th Отделение
      %th{style: 'text-align: center'} KPI
      - if @values[0].direction_id == 35 
        %th Надбавка
      %th Дата расчета
    - round_kpi = 0.0  
    - for v in @values.order(:kpi)
      %tr
        - if v.division_id == 999
          %td= link_to "По всему банку", |
          :action => 'show_report', :report_params => {:period_id => v.period_id, :division_id => v.division_id, :direction_id => v.direction_id} |
        - else
          - division = BranchOfBank.find v.division_id
          %td= link_to (v.division.name+' '+(division.division_parent.nil? ? '' : division.division_parent.name)), |
          :action => 'show_report', :report_params => {:period_id => v.period_id, :division_id => v.division_id, :direction_id => v.direction_id} |
        -
        %td{style: 'text-align: right'}= number_with_precision(v.kpi, :precision => 4, :separator => '.')
        - if @values[0].direction_id == 35
          - round_kpi = v.kpi - (v.kpi % 5)
          - if v.kpi < 60.0
            - bonus = number_with_precision(v.kpi, :precision => 2, :separator => '.')
          - else
            - if round_kpi <= 70.0
              - bonus = 100
            - else
              - if round_kpi == 75.0
                - bonus = 110
              - else
                - if round_kpi == 80.0
                  - bonus = 120
                - else
                  - if round_kpi == 85.0
                    - bonus = 130
                  - else
                    - if round_kpi == 90.0
                      - bonus = 140
                    - else
                      - if round_kpi == 95.0
                        - bonus = 150
                      - else
                        - if round_kpi == 100.0
                          - bonus = 160
                        - else
                          - if round_kpi == 105.0
                            - bonus = 170
                          - else
                            - bonus = 180
          %td{style: 'text-align: right'}= bonus
        %td= v.calc_date.to_date
        