# coding: utf-8
-@title = "Просмотр KPI"
%h2 Оценка эффективности деятельности
- case @performances[0].direction.level_id
  - when 4 
    %h3 Сотрудник: #{@performances[0].fullname}
    %h3 Отделение: #{@performances[0].division.name}
  - when 1
    %h3 По всему банку
  - else
    %h3 Отделение: #{@performances[0].division.name}
%h3= link_to "Шаблон: "+@performances[0].direction.name, :action => 'show_final_kpi_for_direction', |
  :division_id => @performances[0].division_id, :period_id => @performances[0].period_id, :level_id => @performances[0].direction.level_id
%h3 Период: #{@performances[0].period.description}  
- block_name = ''
- factor_total = 0
- average_percent = 0
- i = 0
- kpi_total = 0
- kpi_result = 0 
.content
  %table.data
    %tr
      %th Блок
      %th Вес блока
      %th Показатель
      %th{style: 'text-align: center'} Вес показателя
      %th Доля
      %th{style: 'text-align: center'} План 
      %th{style: 'text-align: center'} Факт 
      %th{style: 'text-align: center'} Процент выполнения
      %th{style: 'text-align: center'} KPI
    - for p in @performances
      - if p.block.block_description.name != block_name
        - if block_name > ''
          %tr
            %td{:colspan => 2}= ''
            %td{:colspan => 2}= "ИТОГО"
            %td{:colspan => 3}= number_with_precision(factor_total, :precision => 3, :separator => '.')
            %td{style: 'text-align: right'}= |
              number_with_precision(average_percent/i, :precision => 3, :separator => '.') |
            -  
            %td{style: 'text-align: right; font-weight: bold'}= |
                          number_with_precision(kpi_total, :precision => 3, :separator => '.') | 
        %tr   
          %td= p.block.block_description.short_name
          %td= number_to_percentage(p.block.block_weights.last.weight*100, :precision => 0)
        - block_name = p.block.block_description.name
        - factor_total = 0
        - average_percent = 0
        - i = 0
        - kpi_result += kpi_total
        - kpi_total = 0.0
      - else
        %tr
          %td{:colspan => 8}= ''
          %td= ''    
      %tr
        %td= ''
        %td= ''
        %td= p.factor.factor_description.short_name+(p.factor.factor_description.unit_id != 4 ? ' ('+p.factor.factor_description.unit.name+')':'')
        - if p.block.categorization
          - category_id = p.division.division_branch_id
          - category_id = 3 if (category_id == 1) or (category_id == 2)
          - category_id = 4 if (category_id == 5) or (category_id == 6)
          %td{style: 'text-align: right'}= number_to_percentage(p.factor.factor_weights.where("division_category_id=?",category_id).last.weight*100, :precision => 0)
        - else  
          %td{style: 'text-align: right'}= number_to_percentage(p.factor.factor_weights.last.weight*100, :precision => 0)
        - if @performances[0].direction.level_id == 3
          %td= link_to number_with_precision(p.rate, :precision => 3, :separator => '.'), |
            :action => 'show_kpi_by_divisions', :period_id => p.period_id, :direction_id => p.direction, |
            :factor_id => p.factor |
        - else   
          %td= number_with_precision(p.rate, :precision => 3, :separator => '.')
        - factor_total+=p.rate
        - 
        - case p.factor.factor_description.unit.name 
        -   when 'грн.' then 
          %td{style: 'text-align: right'}= number_to_currency(p.plan, :unit => "", :format => "%n %u")
        -   when '%' then  
          %td{style: 'text-align: right'}= number_with_precision(p.plan, :precision => 3, :separator => '.')
        -   else          
          %td{style: 'text-align: right'}= number_with_precision(p.plan, :precision => 0, :separator => '.')
        - 
        - case p.factor.factor_description.unit.name 
        -  when 'грн.' then 
          - if current_user and current_user.admin? and (p.factor.fact_descriptor == 'get_fact_from_rest' or p.factor.fact_descriptor == 'get_fact_problem_pers' or p.factor.fact_descriptor == 'get_fact_from_rest_by_program') 
            %td{style: 'text-align: right'}= link_to number_to_currency(p.fact, :unit => "", :format => "%n %u"), |
              :action => 'show_details', :performance_id => p.id |
          - else
            %td{style: 'text-align: right'}= number_to_currency(p.fact, :unit => "", :format => "%n %u")
        -  when '%' then  
          - if current_user and current_user.admin? and (p.factor.fact_descriptor == 'get_fact_problem_pers' | 
            or p.factor.fact_descriptor == 'get_fact_percent_kb_service_using' | 
            or p.factor.fact_descriptor == 'get_fact_percent_gsm_service_using') | 
          -
            %td{style: 'text-align: right'}= link_to number_with_precision(p.fact, :precision => 3, :separator => '.'), |
              :action => 'show_details', :performance_id => p.id |
          - else  
            %td{style: 'text-align: right'}= number_with_precision(p.fact, :precision => 3, :separator => '.')
        -  else          
          - if current_user and current_user.admin? and (p.factor.fact_descriptor == 'get_fact_transfer' |
            or p.factor.fact_descriptor == 'get_fact_depobox' |
            or p.factor.fact_descriptor == 'get_fact_municipal_by_contract' |
            or p.factor.fact_descriptor == 'get_fact_card_count' or p.factor.fact_descriptor == 'get_count_term') | 
          -
            %td{style: 'text-align: right'}= link_to number_with_precision(p.fact, :precision => 0, :separator => '.'), |
              :action => 'show_details', :performance_id => p.id |
          - else  
            %td{style: 'text-align: right'}= number_with_precision(p.fact, :precision => 0, :separator => '.')
        -
        %td{style: 'text-align: right'}= |
          number_with_precision(p.exec_percent, :precision => 3, :separator => '.') |
        - i += 1
        - average_percent += p.exec_percent
        %td{style: 'text-align: right'}= |
          link_to number_with_precision(p.kpi, :precision => 3, :separator => '.'), |
          :action => 'get_interval', :division_id => p.division_id, :direction_id => p.direction, |
          :factor_id => p.factor, :worker_id => p.employee_id, :period_id => p.period_id |
        - kpi_total += p.kpi 
    %tr
      %td{:colspan => 2}= ''
      %td{:colspan => 2}= "ИТОГО"
      %td{:colspan => 3}= number_with_precision(factor_total, :precision => 3, :separator => '.')
      %td{style: 'text-align: right'}= |
        number_with_precision(average_percent/i, :precision => 3, :separator => '.') | 
      -
      %td{style: 'text-align: right; font-weight: bold'}= |
        number_with_precision(kpi_total, :precision => 3, :separator => '.') |
      -  
    %tr
      - if p.division_id == 999
        %td{:colspan => 8}= "ИТОГО"
      - else 
        %td{:colspan => 8}= link_to "ИТОГО", :action => 'show_final_kpi_for_division', :period_id => p.period_id, :direction_id => p.direction_id 
      %td{style: 'text-align: right; font-weight: bold'}= |
        link_to number_with_precision(kpi_result+kpi_total, :precision => 3, :separator => '.'), |
        :action => 'show_final_kpi', :division_id => p.division_id, :direction_id => p.direction_id |
%br	
.actions
  = link_to 'Экспорт в XLS', :action => 'kpi_as_xls', :period_id => @performances[0].period_id, :direction_id => @performances[0].direction_id, :division_id => @performances[0].division_id
-#.actions
  -#=link_to 'Распечатать', :action => 'report_print', :period_id => @performances[0].period_id, :division_id => @performances[0].division_id, :direction_id => @performances[0].direction_id, :format => 'pdf'
 