# coding: utf-8
-@title = "Анализ KPI"
%h2 Анализ KPI "#{@performance.factor.factor_description.short_name}"
- case @performance.direction.level_id
  - when 4 
    %h3 Сотрудник: #{@performance.fullname}
    %h3 Отделение: #{@performance.division.name}
  - when 1
    %h3 По всему банку
  - else
    %h3 Отделение: #{@performance.division.name}
%h3 Шаблон: #{@performance.direction.name}
%h3 Период: #{@performance.period.description}
- if @parameter
  %h3 #{@parameter}
.content
  %table.data
    %tr
      %th Отделение
      %th Сотрудник
      %th Объект
      - if @objects[0][:amount_1]
        %th Остатки
      - if @objects[0][:amount_2]
        %th Просрочка
        %th Процент
    - for o in @objects
      %tr
        %td= o[:division_name]
        %td= o[:user]
        %td{style: 'text-align: right'}= o[:object_id].to_i
        - if o[:amount_1]
          %td{style: 'text-align: right'}= number_with_precision(o[:amount_1], :precision => 2, :separator => '.')
        - if o[:amount_2]
          %td{style: 'text-align: right'}= number_with_precision(o[:amount_2], :precision => 2, :separator => '.')
        - if o[:amount_3]
          %td{style: 'text-align: right'}= number_with_precision(o[:amount_3], :precision => 2, :separator => '.')
    %tr
      %td{:colspan => 3}
      %td{style: 'text-align: right'}= number_with_precision(@total_1, :precision => 2, :separator => '.')
      - if o[:amount_2]   
        %td{style: 'text-align: right'}= number_with_precision(@total_2, :precision => 2, :separator => '.')
        %td= number_with_precision(@percent, :precision => 3, :separator => '.') 
    