# coding: utf-8
%h2 Оценка эффективности деятельности
- if @performances[0].direction.level_id == 4 
  %h3 Сотрудник: #{@performances[0].fullname}  
%h3 Отделение: #{@performances[0].division.name}
%h3 Шаблон: #{@performances[0].direction.name}
%h3 Период: #{@performances[0].period.description}  
- block_name = ''
- factor_total = 0
- average_percent = 0
- i = 0
- kpi_total = 0
- kpi_result = 0
.content
  %table.data
    %tr
      %th Блок
      %th Вес блока
      %th Показатель
      %th{style: 'text-align: center'} Вес показателя
      %th Доля
      %th{style: 'text-align: center'} План 
      %th{style: 'text-align: center'} Факт 
      %th{style: 'text-align: center'} Процент выполнения
      %th{style: 'text-align: center'} KPI
    - for p in @performances
      - if p.block.block_description.name != block_name
        - if block_name > ''
          %tr
            %td{:colspan => 2}= ''
            %td{:colspan => 2}= "ИТОГО"
            %td{:colspan => 3}= number_with_precision(factor_total, :precision => 3, :separator => '.')
            %td{style: 'text-align: right'}= |
              number_with_precision(average_percent/i, :precision => 3, :separator => '.') |
            -  
            %td{style: 'text-align: right; font-weight: bold'}= |
                          number_with_precision(kpi_total, :precision => 3, :separator => '.') | 
        %tr   
          %td= p.block.block_description.short_name
          %td= number_to_percentage(p.block.block_weights.last.weight*100, :precision => 0)
        - block_name = p.block.block_description.name
        - factor_total = 0
        - average_percent = 0
        - i = 0
        - kpi_result += kpi_total
        - kpi_total = 0.0
      - else
        %tr
          %td{:colspan => 8}= ''
          %td= ''    
      %tr
        %td= ''
        %td= ''
        %td= p.factor.factor_description.short_name+(p.factor.factor_description.unit_id != 4 ? ' ('+p.factor.factor_description.unit.name+')':'')
        %td{style: 'text-align: right'}= number_to_percentage(p.factor.factor_weights.last.weight*100, :precision => 0)
        %td= number_with_precision(p.rate, :precision => 3, :separator => '.')
        - factor_total+=p.rate
        - 
        - case p.factor.factor_description.unit.name 
        -   when 'грн.' then 
          %td{style: 'text-align: right'}= number_to_currency(p.plan, :unit => "", :format => "%n %u")
        -   when '%' then  
          %td{style: 'text-align: right'}= number_with_precision(p.plan, :precision => 3, :separator => '.')
        -    else          
          %td{style: 'text-align: right'}= number_with_precision(p.plan, :precision => 0, :separator => '.')
        - 
        - case p.factor.factor_description.unit.name 
        -   when 'грн.' then 
          %td{style: 'text-align: right'}= number_to_currency(p.fact, :unit => "", :format => "%n %u")
        -   when '%' then  
          %td{style: 'text-align: right'}= number_with_precision(p.fact, :precision => 3, :separator => '.')
        -    else          
          %td{style: 'text-align: right'}= number_with_precision(p.fact, :precision => 0, :separator => '.')
        -
        %td{style: 'text-align: right'}= |
          number_with_precision(p.exec_percent, :precision => 3, :separator => '.') |
        - i += 1
        - average_percent += p.exec_percent
        %td{style: 'text-align: right'}= |
          link_to number_with_precision(p.kpi, :precision => 3, :separator => '.'), |
          :action => 'show_values', :division_id => p.division, :direction_id => p.direction, |
          :factor_id => p.factor |
        - kpi_total += p.kpi 
    %tr
      %td{:colspan => 2}= ''
      %td{:colspan => 2}= "ИТОГО"
      %td{:colspan => 3}= number_with_precision(factor_total, :precision => 3, :separator => '.')
      %td{style: 'text-align: right'}= |
        number_with_precision(average_percent/i, :precision => 3, :separator => '.') | 
      -
      %td{style: 'text-align: right; font-weight: bold'}= |
        number_with_precision(kpi_total, :precision => 3, :separator => '.') |
      -  
    %tr
      %td{:colspan => 8}= "ИТОГО"
      %td{style: 'text-align: right; font-weight: bold'}= |
        number_with_precision(kpi_result+kpi_total, :precision => 3, :separator => '.') |

-#.actions
  -#=link_to 'Распечатать', :action => 'report_print', :period_id => @performances[0].period_id, :division_id => @performances[0].division_id, :direction_id => @performances[0].direction_id, :format => 'pdf'
 